body {
     background-image: url("Wood.jpg");
}

h1 {
	font-size: 40 px;
	font-family: Georgia;
    color: black;
    text-align: center;
}

div.background {
	border-radius: 25px;
	margin-right: 100px;
    margin-left: 100px;
	background-color: grey;
}

hr {
	margin-right: 100px;
	margin-left: 100px;
}

h2 {
	font-size: 30 px;
	font-family: Georgia;
    color: black;
    text-align: left;
    margin-right: 10px;
    margin-left: 10px;
}

p {
	font-size: 15 px;
	font-family: Georgia;
    color: white;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

a:link {
    color: grey;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
} 

.circle-border {
    border-radius: 50%;

    color: white;
}

.contact {
	color: black;
	font-family: Georgia;
	font-size: 15x;
	text-align: center;
}


