body {
    background-color: lightblue;
    text-align: center;
}

h1 {
	font-size: 40px;
	font-family: Georgia;
    color: white;
}

a:link {
    color: white;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: black;
}

a.nounderline:link  
{  
 text-decoration:none;  
}  

.circle-border {
    border-radius: 50%;
    text-align: center;
    color: white;
}


